{% extends 'blog/base.html' %} {% load staticfiles %} {% block content %}
<div
  class="mx-auto p-3 pl-4 mb-3"
  style="
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 3px;
  "
>
  <div class="align-items-center d-flex justify-content-center">
    <img
      style="height: 130px; width: 130px"
      src="https://i.imgur.com/QZdKZ43.jpg"
      alt="Picture of john"
    />
    <i> "Anything worth doing is worth doing right." - Hunter S. Thompson </i>
  </div>

  <p>
    <br />
    <br />

    John is a software developer with a bachelor’s degree in Computer Science.
    The exposure to various technologies he received in the workplace and school
    solidified his career choice in the field of information technology. The
    aspect that he enjoys most about technology is the level of creativity and
    passion that developers applies to their projects. He is constantly
    sharpening his skills by working on open source and personal projects. His
    hobbies are playing video games, watching movies and TV shows &#129302;.
    <br /><br />

    One of his most significant projects is called Hacker’s Island, which was an
    educational video game that teaches the players on how they can protect
    their anonymity against common cyber-attacks. The idea was to increase the
    public awareness of cybercrimes and cybersecurity. After conducting research
    on many forms of common cyberattacks, he used this knowledge and turned it
    into an educational video game. He improved his teamwork and communication
    skills by meeting deadlines and holding his team accountable. When John
    finds a problem that he is passionate about, he is determined and focused on
    solving it.
  </p>

  <br />
  <p>Here are main goals for my projects and with this website:</p>
  <ul style="list-style-type: disc">
    <li>To discuss the latest Information technology news.</li>
    <li>Build connections and collaborate with other programmers.</li>
    <li>Showcase my projects.</li>
    <li>Solve the problems that we face everyday using technologies.</li>
  </ul>
  <br />
  <br />
  <p>
    If you have any questions or you want to collaborate with me. You can send
    me an email at JohnCervantes@protonmail.com.
    <br />
  </p>
  <strong>Thank you for visiting my website &#9786;</strong>
  <br />
</div>

{% endblock content %}
