{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="mx-auto p-3 mb-3" style="width: 100%; background-color: #ffffff; border: 1px solid #dddddd;
  border-radius: 3px;">

  <div class=" align-items-center d-flex justify-content-center">
    <img style="height:130px; width:130px;" src="{% static 'blog/john.png' %}" alt="Picture of john" />
    <i> "Anything worth doing is worth doing right." - Hunter S. Thompson </i>
  </div>

  <p>
    <br> This quote embodies all that I hope to achieve with my projects and with this website. My name is John and I am
    a Computer Science graduate
    from Northeastern Illinois University. I mainly program with python thesedays, so most of the projects that I'm involved in are going to be python scripts and django projects.
    I like to challenge myself by creating unique and inspired projects using the latest technologies. My hobbies are playing video games, watching TV shows and coding (duh). </p>


  <br>
  <p>Here are main goals for my projects and with this website:</p>
  <ul style="list-style-type: disc;">
    <li>To discuss the latest Information technology news.</li>
    <li>Build connections and collaborate with other programmers.</li>
    <li>Showcase my projects.</li>
    <li>Solve the problems that we face everyday using technologies.</li>
  </ul>
  <br>
  <br>
  <p>
     If you have any questions or you want to collaborate with me. You can send me an email at JohnCervantes@protonmail.com.
    <br>
  </p>
  <strong>Thank you for visiting my website &#9786;</strong>
</div>

{% endblock content %}