{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="mx-auto p-3 mb-3" style="width: 100%; background-color: #ffffff; border: 1px solid #dddddd;
  border-radius: 3px;">

  <div class=" align-items-center d-flex justify-content-center">
    <img style="height:130px; width:130px;" src="{% static 'blog/john.png' %}" alt="Picture of john" />
    <i>"Anything worth doing is worth doing right." - Hunter S. Thompson </i>
  </div>

  <p>
    <br> This quote embodies all that I hope to achieve with my projects and with this site. My name is John and I am
    a recent Computer Science graduate
    from Northeastern Illinois University. I enjoy working on website development and .net development projects.
    I like to challenge myself by creating unique and inspired projects using the latest technologies. I enjoy reading
    different
    Information technology news, especially about cybersecurity. We need to protect our data those at all times and
    learn more ways how to protect it.</p>


  <br>
  <p> Here are the things that i aim to do in this website</p>
  <ul style="list-style-type: disc;">
    <li>Discuss the latest Information technology topics.</li>
    <li>Build connections and collaborate with other programmers.</li>
    <li>Showcase my projects.</li>
    <li>Show solutions to different problems that we face everyday using technologies.</li>
  </ul>
  <br>
  <br>
  <p>
    If you have any questions,feedbacks or suggestions. You can send me an email at JohnCervantes@protonmail.com.
    <br> I would be happy to answer any concerns that you have.
  </p>
  <strong>Thank you for visiting my website &#9786;</strong>
</div>

{% endblock content %}