{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
  {% if title %}
  <title>Bad Seal Studios - {{ title }}</title>
  {% else %}
  <title>Bad Seal Studios</title>
  {% endif %}
  <style>
  
  .hacker-badge {
    display: inline-block;
    margin-top: 5px;
    margin-right: 20px;
    width: 80px;
}

.ui-badge .badge-title {
    text-anchor: middle;
}

  
  </style>
</head>

<body class="mt-5" style="background-color: rgb(51, 125, 136);">
  <div class="row mb-3"
    style="width:100%; height: 100%; margin: 0px; height: 150px; background-size: 100% 100%;  background-image: url('{% static 'blog/sea.png' %}');">
    <div class="col d-flex align-items-center justify-content-center">
      <img height=100px src=" {% static 'blog/sealWhite.png' %} ">
    </div>
  </div>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="/">Bad Seal Studios</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'blog_blogs' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'blog_about' %}">About</a>
            <a class="nav-item nav-link" href="{% url 'projects' %}">Projects</a>
            <a class="nav-item nav-link" href="{% static 'resume.pdf' %}">Resume</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'blog_create' %}">Create a Post</a>
            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main role="main" class="container" style="line-height: 1.5em; font-size: 16px; font-family: Roboto; max-width: 100%;">
<div {% if title == 'Blog' %} style="display: flex;
flex-direction: row;
justify-content: center;
align-items: center;">

  <div>
  <div class="card" style="display:inline-block; width: 20rem; margin:10px;">
    <img class="card-img-top" src="{{project.image.url}}" style="height: 140px;" alt="Card image cap">
    <h class="card-body" style="height: 206px">
        <h5 class="card-title p-0">{{ project.title }}</h5>
            <br>
            <p class="card-text" style="text-align: left; margin: 5px">{{ project.summary | safe }}</p>
    </div>
    <div class="card-footer text-muted pb-3 pt-2"><strong>{{project.technologies}}</strong><br><br>Status:
        {{ project.status }} {% if project.status == 'Complete' %} <a style="float:right;"
            href="{% url 'project_details' project.id %}" class="btn btn-info btn-sm">View Details</a> {% endif %}
    </div>
  </div>
<div>
    <div class="card" style="display:inline-block; width: 20rem; margin:10px;">
      <img class="card-img-top" src="{{project.image.url}}" style="height: 140px;" alt="Card image cap">
      <h class="card-body" style="height: 206px">
          <h5 class="card-title p-0">{{ project.title }}</h5>
              <br>
              <p class="card-text" style="text-align: left; margin: 5px">{{ project.summary | safe }}</p>
      </div>
      <div class="card-footer text-muted pb-3 pt-2"><strong>{{project.technologies}}</strong><br><br>Status:
          {{ project.status }} {% if project.status == 'Complete' %} <a style="float:right;"
              href="{% url 'project_details' project.id %}" class="btn btn-info btn-sm">View Details</a> {% endif %}
      </div>  
</div>
<div>
      <div class="card" style="display:inline-block; width: 20rem; margin:10px;">
        <img class="card-img-top" src="{{project.image.url}}" style="height: 140px;" alt="Card image cap">
        <h class="card-body" style="height: 206px">
            <h5 class="card-title p-0">{{ project.title }}</h5>
                <br>
                <p class="card-text" style="text-align: left; margin: 5px">{{ project.summary | safe }}</p>
        </div>
        <div class="card-footer text-muted pb-3 pt-2"><strong>{{project.technologies}}</strong><br><br>Status:
            {{ project.status }} {% if project.status == 'Complete' %} <a style="float:right;"
                href="{% url 'project_details' project.id %}" class="btn btn-info btn-sm">View Details</a> {% endif %}
        </div>
</div>


</div>

    

    <div class="row" style="width: 100%; margin: 0 auto; padding: 20px;">
      <div class="col-md-1"></div>
      <div
        {% if title == 'About' or title == 'Blog'  %} class="col-md-6" {% else %} class="col-md-12" {% endif %}>
        {% if messages %}
        {% for message in messages%}
        <div class="alert alert-{{ message.tags }}">
          {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
      {% if title == 'About' or title == 'Blog'  %}
      <div class="col-md-3" >
        <div class="content-section" style="text-decoration: none;">
            <ul class="list-group">
              <li class="list-group-item list-group-item-light">Latest Posts</li>
              <ul>
                  <br>
                {% for news in latest_news %}
                <li><a href="{% url 'blog_details' news.id  %}">
                    <p><u>{{ news.title }}</u></p>
                    </h6>
                  </a></li>
                {% endfor %}
              </ul>
              <br>
              <li class="list-group-item list-group-item-light">Announcements</li>
              <li class="list-group-item list-group-item-light">Calendars</li>
              <li class="list-group-item list-group-item-light">etc</li>
              <ul>
                  <br>
                <li>     
                    <p><a href="https://leetcode.com/vocalists/" target="_blank" > Leetcode Profile:</a></p>
                      <div class="progress position-relative mr-4">
                          <div class="progress-bar" role="progressbar" style="width: {{ progress }}0%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                          <small class="justify-content-center d-flex position-absolute w-100">{{ leet }}</small>
                      </div>
                    <p style="text-align: center; font-weight: lighter;">Solved problems</p>
                </li>
                <br>
                <li>     
                  <p><a href="https://www.hackerrank.com/JohnCervantes" target="_blank" > HackerRank Profile:</a></p>
                  <p style="text-align: center; font-weight: lighter;">Badges</p>
                    <div  class="container" style="width: 100%;">{{ values | safe }}</div>
              </li>
              <br>
              <li>     
                <p><a href="https://www.codewars.com/users/vocalists1" target="_blank" > Codewars Profile:</a></p>
                <p style="text-align: center; font-weight: lighter;">Badges</p>
                  <img style="width: 230px;" src="https://www.codewars.com/users/vocalists1/badges/small" /> 
               </li>
              </ul>     
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </main>

  <div class="row" style="width:100%; color:white; background-color: #34DDDD; padding:0; margin:0;margin-right: 0; margin-left: 0; padding-bottom: 30px; padding-top: 30px; height:
150; font-weight: bolder; font-size: 16px; font-family: Raleway;">
    <div class="col-md-4" style="padding-left:30px;">
      <a style="color: white;" href="{% url 'blog_blogs' %}">
        Home
      </a>&nbsp;|&nbsp;
      <a style="color: white;" href="{% url 'blog_about' %}">
        About
      </a>&nbsp;|&nbsp;
      <a style="color: white;" href="{% url 'projects' %}">
        Projects
      </a>&nbsp;|&nbsp;
      <a style="color: white;" href="#">
        Resume
      </a>&nbsp;|&nbsp;
    </div>
    <div class="col-sm-4">
      <br>
    </div>
    <div class="col-md-4" style="text-align: right;padding-right:30px;">
      <p>312-989-7342
        <br> JohnCervantes@protonmail.com</p>
      <a href="mailto:JohnCervantes@protonmail.com" target="_blank" style="cursor: pointer; text-decoration: none;">
        <img border=0 height=30px src="{% static 'blog/proton.png' %}">
      </a> &nbsp;
      <a href="https://github.com/JohnCervantes" target="_blank" style="cursor: pointer; text-decoration: none;">
        <img border=0 height=30px src="{% static 'blog/github.png' %}">
      </a> &nbsp;
      <a href="https://www.linkedin.com/in/j-cervantes/" target="_blank"
        style="cursor: pointer; text-decoration: none;">
        <img border=0 style="text-decoration:none" height=30px src="{% static 'blog/linkedin.png' %}">
      </a> &nbsp;
      <a href="https://www.youtube.com/channel/UCi98xvWCNg58r7ttwb-22ag?view_as=subscriber" target="_blank"
        style="cursor: pointer; text-decoration: none;">
        <img border=0 height=30px src="{% static 'blog/youtube.png' %}">
      </a> &nbsp;
      <a href="https://twitter.com/vocalistx" target="_blank" style="cursor: pointer; text-decoration: none;">
        <img border=0 height=30px src="{% static 'blog/twitter.png' %}">
      </a> &nbsp;
      <a href="https://play.google.com/store/apps/developer?id=Bad+Seal+Studios" target="_blank"
        style="cursor: pointer; text-decoration: none;">
        <img border=0 height=30px src="{% static 'blog/playStoreIcon.png' %}">
      </a> &nbsp;
      <a href="#" style="cursor: pointer; text-decoration: none;">
        <img border=0 height=30px src="{% static 'blog/appleStoreIcon.png' %}">
      </a>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>