{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class='mt-4 mb-5' style="background: #ffffff; margin: auto; padding: 20px;  width: 70%; border-radius: 3px;">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="bottom-border mb-4"> Blog Post
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info">Post</button>
        </div>
    </form>
</div>
{% endblock content %}