{%  extends  'blog/base.html' %}
{% load staticfiles %}

{% block content %}
<div 
style="background-color: #ffffff; border: 1px solid #dddddd;
border-radius: 3px; padding: 30px; margin-bottom: 20px;">
    <p style=" font-size:25px; letter-spacing:3px; line-height: 20px; font-weight:bolder; font-family: Raleway;">
    {{object.title}}  <span style="float:right;">
            <img height="20px" src="{% static 'images/calendar.png' %}">&nbsp;<small>{{object.date_posted}}</small>
    </span>
    </p>
    <hr> 
    <br>
    {{ object.carousel|safe }}
    
    <div style="margin-top: 30px;"> {{object.body | safe}} </div>
</div>
{% endblock content %}